* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #1a1a1a; /* Dark background */
  color: #fff; /* Default text color */
}

h1 {
  background-color: #1a1a1a; /* Dark background */
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424; /* Darker background */
  box-shadow: 0 0 10px 2px #3498db; /* Glowing effect */
}

.choice:hover {
  cursor: pointer;
  background-color: #1a1a1a; /* Dark background */
  box-shadow: 0 0 20px 5px #3498db; /* Enhanced glowing effect on hover */
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
  color: #fff; /* Set score text color to white */
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #1a1a1a; /* Dark background */
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
